<div class="receipt-container text-black bg-white p-1 font-mono text-xs">
  <header class="text-center mb-2">
    <h1 class="font-bold text-sm">{{ shopName() }}</h1>
    <p>{{ currentDate | date:'dd/MM/yyyy hh:mm a' }}</p>
  </header>
  
  <div class="border-t border-b border-dashed border-black my-2 py-1">
    <div class="flex justify-between font-bold">
      <span>ဂဏန်း</span>
      <span>ငွေပမာဏ</span>
    </div>
  </div>

  <main class="space-y-1">
    @for(item of dataList(); track item.id) {
      <div class="flex justify-between">
        <span>{{ item.n }}</span>
        <span>{{ item.a.toLocaleString() }}</span>
      </div>
    }
  </main>

  <footer class="mt-2 border-t border-dashed border-black pt-1">
    <div class="flex justify-between font-bold">
      <span>စုစုပေါင်း ကွက်:</span>
      <span>{{ totalCount() }}</span>
    </div>
    <div class="flex justify-between font-bold text-sm">
      <span>စုစုပေါင်း ငွေ:</span>
      <span>{{ totalAmount().toLocaleString() }} ကျပ်</span>
    </div>
    <p class="text-center text-[10px] mt-4">ကျေးဇူးတင်ပါသည်</p>
  </footer>
</div>
